---
import Layout from "../layouts/Layout.astro"
---

<Layout title="About the project">
    <h1>About the project</h1>
    <p class="text-[#000000]">The CodeFlix project is a ... aqui va texto chido :p - Esto funciona para el SEO</p>
</Layout>